.wrapper {
  padding-right: 20px; }

.menu-btn {
  z-index: 5;
  display: none;
  width: 40px;
  height: 40px;
  background: #dd4b2b;
  padding: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-radius: 50%;
  position: fixed;
  top: 40px;
  right: 20px;
  -webkit-transition: .5s all;
  -o-transition: .5s all;
  transition: .5s all;
  text-align: center; }
  .menu-btn span {
    -webkit-transition: .5s all;
    -o-transition: .5s all;
    transition: .5s all;
    width: 80%;
    margin: 0 auto;
    height: 2px;
    background: #ffffff; }

html {
  font-size: 14px; }

p {
  margin: 0; }

a {
  text-decoration: none; }

.bold {
  font-weight: 700; }

.end {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end; }

.between {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }

@media screen and (max-width: 1200px) {
  .header__logo {
    text-align: center;
    display: block;
    margin: 0 auto;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .header__nav {
    display: none; }
  .menu-btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  .section--title {
    padding-top: 10px; }
  .section {
    display: block;
    margin: 0 auto; }
  #news-later {
    padding-right: 30px; } }

header {
  margin: 25px 0px; }
  header .header__logo .logo__header {
    width: 100%;
    font-size: 2.6rem;
    color: #31353e;
    margin-bottom: -10px; }
  header .header__logo .logo__text {
    font-size: 1.2rem;
    color: #dd4b2b; }
  header .header__nav {
    width: 100%; }
    header .header__nav .menu {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      justify-content: space-between;
      color: #31353e; }
      header .header__nav .menu__item {
        display: block;
        padding: 16px 25px; }
        header .header__nav .menu__item a {
          text-decoration: none;
          color: #31353e; }
      header .header__nav .menu__item:hover {
        background: #dd4b2b;
        border-radius: 40px; }
        header .header__nav .menu__item:hover a {
          color: #fff; }

h1 {
  margin: 0;
  padding-top: 40px;
  font-size: 5.15rem;
  line-height: .8;
  font-weight: 400;
  text-shadow: 1px 1px 2px black; }
  h1 span {
    font-size: 2.15rem; }

.news__button {
  margin-top: 30px;
  text-align: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-bottom: 30px; }

.button {
  color: #31353e;
  padding: 16px 50px;
  background: #fff;
  border-radius: 40px;
  font-weight: 700;
  text-align: center;
  display: block;
  width: 180px;
  margin: 0 auto; }

.background {
  background: #dd4b2b;
  color: #fff;
  display: block;
  margin-left: 0px; }

.product__block {
  display: block;
  border: 1px solid #dbdbdb;
  width: 600px;
  margin-top: 30px;
  height: 100%; }

.tho__rows {
  margin: 100px 0; }

.tho__blocks {
  padding-left: 20px; }

.t-center {
  text-align: center; }

.section {
  margin: 0 auto;
  background-color: #edeff1;
  padding-top: 70px; }
  .section__dark {
    color: #fff;
    background: url("../img/background.png");
      background-size: cover;
      background-position: center; }

.article_type .article--img {
  text-align: center; }
  .article_type .article--img img {
    border: 7px solid #ffffff;
    border-radius: 50%; }

.justify-content-beetwen {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.justify-content-center {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

.white {
  color: #fff; }

.p-t-50 {
  padding-top: 50px; }

#news-later {
  background: url("../img/burger.png");
    background-size: cover;
    background-position: center;
  height: 280px; }

.section--text {
  display: block;
  margin: 0 auto;
  font-weight: 300;
  font-size: 1.1rem;
  text-align: center; }

form {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-bottom: 50px; }

#email {
  padding: 10px 20px;
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid #fff;
  width: 30%;
  border-radius: 40px;
  color: #fff;
  outline: none;
  -webkit-box-shadow: inset 0 0 25px 0 rgba(255, 255, 255, 0.2);
  box-shadow: inset 0 0 25px 0 rgba(255, 255, 255, 0.2); }
  #email::-webkit-input-placeholder {
    color: #fff; }
  #email::-moz-placeholder {
    color: #fff; }
  #email:-ms-input-placeholder {
    color: #fff; }
  #email::-ms-input-placeholder {
    color: #fff; }
  #email::placeholder {
    color: #fff; }

#submit {
  margin-left: -40px;
  padding: 10px 60px;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 40px;
  color: #31353e;
  outline: none;
  font-weight: 700;
  font-family: 'Roboto Slab', serif; }

.t-left {
  text-align: left; }

.background__tho {
  background: #4b4e73;
  color: #fff;
  margin-left: 0; }

#menu {
  background-color: #dd4b2b; }
  #menu .menu__items {
    display: block;
    margin: 70px 0;
    line-height: 1.8; }
  #menu .menu__item {
    display: block;
    color: #ffffff; }

.regular {
  font-weight: 300; }

body {
  font-family: 'Roboto Slab', serif;
  line-height: 1.5;
  margin: 0;
  color: #31353e; }

.m-b-5 {
  margin-bottom: 5px; }

.m-b-10 {
  margin-bottom: 10px; }

.m-b-15 {
  margin-bottom: 15px; }

.m-b-20 {
  margin-bottom: 20px; }

.m-b-25 {
  margin-bottom: 25px; }

.m-b-30 {
  margin-bottom: 30px; }

.m-b-35 {
  margin-bottom: 35px; }

.m-b-40 {
  margin-bottom: 40px; }

.m-b-45 {
  margin-bottom: 45px; }

.m-b-50 {
  margin-bottom: 50px; }

.m-b-55 {
  margin-bottom: 55px; }

.m-b-60 {
  margin-bottom: 60px; }

.m-b-65 {
  margin-bottom: 65px; }

.m-b-70 {
  margin-bottom: 70px; }

.m-b-75 {
  margin-bottom: 75px; }

.m-b-80 {
  margin-bottom: 80px; }

.wrapper {
  padding: 15px 15px;
  max-width: 1200px;
  margin: 0 auto; }
  .wrapper .section--title {
    font-size: 30px;
    font-weight: 700; }

.m-center {
  margin: 0 auto; }

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -15px; }
  .row_center {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }

.article {
  margin-right: 30px; }
  .article .article--text, .article .article--title {
    text-align: center;
    padding: 0 20px; }
  .article .article--title {
    font-weight: 700;
    font-size: 2.15rem; }
  .article--image {
    border-radius: 5px 5px 0 0; }

.column {
  width: 100%;
  padding: 0 15px; }

@media (min-width: 460px) {
  .column-phablet-2 {
    max-width: 50%; }
  .column-phablet-3 {
    max-width: 33.33333%; }
  .column-phablet-4 {
    max-width: 25%; }
  .column-phablet-5 {
    max-width: 20%; }
  .column-phablet-6 {
    max-width: 16.66667%; } }

@media (min-width: 786px) {
  .column-tablet-2 {
    max-width: 50%; }
  .column-tablet-3 {
    max-width: 33.33333%; }
  .column-tablet-4 {
    max-width: 25%; }
  .column-tablet-5 {
    max-width: 20%; }
  .column-tablet-6 {
    max-width: 16.66667%; } }

@media (min-width: 1000px) {
  .column-laptop-2 {
    max-width: 50%; }
  .column-laptop-3 {
    max-width: 33.33333%; }
  .column-laptop-4 {
    max-width: 25%; }
  .column-laptop-5 {
    max-width: 20%; }
  .column-laptop-6 {
    max-width: 16.66667%; } }

@media (min-width: 1200px) {
  .column-desktop-2 {
    max-width: 50%; }
  .column-desktop-3 {
    max-width: 33.33333%; }
  .column-desktop-4 {
    max-width: 25%; }
  .column-desktop-5 {
    max-width: 20%; }
  .column-desktop-6 {
    max-width: 16.66667%; } }

@media (min-width: 460px) {
  .column-phablet-1-2 {
    max-width: 50%; }
  .column-phablet-1-3 {
    max-width: 33.33333%; }
  .column-phablet-1-4 {
    max-width: 25%; }
  .column-phablet-1-5 {
    max-width: 20%; }
  .column-phablet-1-6 {
    max-width: 16.66667%; }
  .column-phablet-2-3 {
    max-width: 66.66667%; }
  .column-phablet-2-5 {
    max-width: 40%; }
  .column-phablet-3-4 {
    max-width: 75%; }
  .column-phablet-3-5 {
    max-width: 60%; }
  .column-phablet-4-5 {
    max-width: 80%; }
  .column-phablet-5-6 {
    max-width: 83.33333%; } }

@media (min-width: 786px) {
  .column-tablet-1-2 {
    max-width: 50%; }
  .column-tablet-1-3 {
    max-width: 33.33333%; }
  .column-tablet-1-4 {
    max-width: 25%; }
  .column-tablet-1-5 {
    max-width: 20%; }
  .column-tablet-1-6 {
    max-width: 16.66667%; }
  .column-tablet-2-3 {
    max-width: 66.66667%; }
  .column-tablet-2-5 {
    max-width: 40%; }
  .column-tablet-3-4 {
    max-width: 75%; }
  .column-tablet-3-5 {
    max-width: 60%; }
  .column-tablet-4-5 {
    max-width: 80%; }
  .column-tablet-5-6 {
    max-width: 83.33333%; } }

@media (min-width: 1000px) {
  .column-laptop-1-2 {
    max-width: 50%; }
  .column-laptop-1-3 {
    max-width: 33.33333%; }
  .column-laptop-1-4 {
    max-width: 25%; }
  .column-laptop-1-5 {
    max-width: 20%; }
  .column-laptop-1-6 {
    max-width: 16.66667%; }
  .column-laptop-2-3 {
    max-width: 66.66667%; }
  .column-laptop-2-5 {
    max-width: 40%; }
  .column-laptop-3-4 {
    max-width: 75%; }
  .column-laptop-3-5 {
    max-width: 60%; }
  .column-laptop-4-5 {
    max-width: 80%; }
  .column-laptop-5-6 {
    max-width: 83.33333%; } }

@media (min-width: 1200px) {
  .column-desktop-1-2 {
    max-width: 50%; }
  .column-desktop-1-3 {
    max-width: 33.33333%; }
  .column-desktop-1-4 {
    max-width: 25%; }
  .column-desktop-1-5 {
    max-width: 20%; }
  .column-desktop-1-6 {
    max-width: 16.66667%; }
  .column-desktop-2-3 {
    max-width: 66.66667%; }
  .column-desktop-2-5 {
    max-width: 40%; }
  .column-desktop-3-4 {
    max-width: 75%; }
  .column-desktop-3-5 {
    max-width: 60%; }
  .column-desktop-4-5 {
    max-width: 80%; }
  .column-desktop-5-6 {
    max-width: 83.33333%; } }

.section--text span {
  font-weight: 700; }

.center {
  padding: 120px 0; }
